<div class="container-fluid">
  <nav class="main-navbar navbar navbar-default side-padding" id="navbar">
    <div class="container">
      <a class="navbar-brand"><img src="#" alt="">B r a n d <span>N I T I N</span></a>
      <ul class="manu-list">
        <li>ADMIN TEMPLATE</li>
        <li>SITE TEMPLATE</li>
        <li>TUTORIALS</li>
        
      </ul>
      <div class="form-button">
      <button class="btn btn-default">REGISTER</button>
      <button class="btn btn-default">LOGIN</button>
    </div>
      <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success " type="submit">Search</button>
    </form> -->
    </div>
  </nav>
</div>