<div class="side-padding">
    <h1>Create a new Account</h1>

    <form action="#">
        <div class="form-group">
            <input type="text" name="name" id="name" placeholder="YOUR NAME">
            <input type="email" name="email" id="email" placeholder="YOUR EMAIL">
            <input type="password" name="password" id="password" placeholder="YOUR PASSWORD">

        </div>
    </form><!-- form end -->

    <div class="form-bottom ">
        <label><input type="checkbox" name="" id="chck1"> I want to receive code examples, news and offers.</label>
        <label><input type="checkbox" name="" id="chck2"> I agree to the <a href="#">Terms & Conditions.</a> </label>
    </div>
    <div class="bottom-button ">
        <input class="btn btn-primary" type="button" value="SUBMIT" id="submit">
        <input class="btn btn-primary" type="button" value="ALREADY HAVE AN ACCOUNT?">
    </div>


    <aside>
        <h1>What You'll get:</h1>
        <ul>
            <li>Premium tutorials</li>
            <li>Free code</li>
            <li>Special offers</li>
            <li>Dashboard to download updates</li>
            <li>Much more!</li>
        </ul>
    </aside> <!-- end side-bar -->
</div>

<div class="bottom-heading">
        
    <form class="form-inline side-padding">
        <span>Fear of missing out? Sign up to our Special Newsletter!</span>
        <input class="form-control mr-sm-2" type="search" placeholder="@Mail" aria-label="Search">
        <button class="btn btn-outline-success " type="submit">SUBSCRIBE</button>
    </form>
</div>